/* Navigation Styling */
nav {
    background-color: #ffcccb;
    padding: 15px;
    border-bottom: 3px solid red;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a:hover {
    color: blue;
}

/* Image Styling */
.recipe-card img {
    width: 300px;
    max-width: 100%;
    height: auto;
    
    border: 3px solid #444;    /* Border */
    border-radius: 10px;       /* Rounded corners (optional) */
    padding: 5px;              /* Space inside border */
    margin-top: 10px;          /* Space above image */
}

.recipe-card img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* Table Styling */
table {
    border-collapse: collapse;
    width: 60%;
    margin-top: 10px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Form Styling */
form {
    margin: 20px;
}

input, select, textarea {
    padding: 5px;
    margin-top: 5px;
}

button {
    background-color: green;
    color: white;
    padding: 8px 15px;
    border: none;
}